@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --white : white;
    --yellow : #f5d601;
    --blue : #215480;
    --darkYellow : #f6cd23;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(/image/minion-bg.jpg);
    background-color: var(--yellow);

}

h1{
    text-align: center;
    padding: 2rem;
    color: var(--blue);
}
section{
    color: var(--blue);
    text-align: center;
    margin-bottom: 1rem;
}
section div{
    display: inline;
}
.box{
    
    border: 2px solid var(--blue);
    border-radius: 0.5rem;
    font-weight: 700;
    padding: 0.5rem 3rem;
}
section img{
    max-width: 15px;

}

textarea{
    display : block;
    width: 90%;
    height: 10vh;
    padding: 1rem 1rem;
    margin: auto;
    background-color: var(--yellow);
    border-radius: 0.5rem;
    font-size: 1rem;
    resize: none;
    font-family : 'Montserrat', sans-serif;
    
}
h3{
    text-align: center;
    padding: 1rem;
    color: var(--blue);

}

button{
    border: 2px solid var(--blue);
    border-radius: 2rem;
    font-size: medium;
    color: var(--blue);
    font-weight: 700;
    padding: 0.5rem 4rem;
    background-color: var(--yellow);
    display: block;
    margin: auto;
    margin-top: 2rem;
    
}

button:hover{
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
}

#output{
    display : block;
    width: 90%;
    height: 10vh;
    padding: 1rem 1rem;
    margin: auto;
    background-color: var(--darkYellow);
    border: 1px solid var(--blue);
    border-radius: 0.5rem;
}