textarea{
    display : block;
    margin : 1rem;
    padding: 0.5rem 1rem;
}

button{
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

button:hover{
    cursor: pointer;
}