textarea{
    display : block;
    width: 80%;
    margin : 1rem;
    height: 10vh;
    padding: 1rem 1rem;
}

button{
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

button:hover{
    cursor: pointer;
}

#output{
    width: 80%;
    height: 10vh;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
}